# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url,sep='\t')

### Step 4. See the first 10 entries

In [3]:
chipo.head(11)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1

chipo.shape

(4622, 5)

In [5]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [6]:
print("no of column:",len(chipo.axes[1]))

no of column: 5

### Step 7. Print the name of all the columns.

In [7]:
print(chipo.columns.values.tolist())

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [9]:
print("Most ordered item:",chipo['item_name'].value_counts().idxmax())

Most ordered item: Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [10]:
chipo[chipo['item_name'] == 'Chicken Bowl'].sum()

order_id                                                         713926
quantity                                                            761
item_name             Chicken BowlChicken BowlChicken BowlChicken Bo...
choice_description    [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
item_price            $16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...
dtype: object

### Step 11. What was the most ordered item in the choice_description column?

In [11]:
print("most ordered item in the choice_description column :",chipo['choice_description'].value_counts().idxmax())

most ordered item in the choice_description column : [Diet Coke]

### Step 12. How many items were orderd in total?

In [12]:
print("items were orderd in total :",chipo['quantity'].sum())

items were orderd in total : 4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [13]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [14]:
chipo['item_price']=chipo['item_price'].apply(lambda x: x.replace("$","")).astype(float)

#### Step 13.c. Check the item price type

In [15]:
print("After changing lambda function using lambda function:",chipo['item_price'].dtype)

After changing lambda function using lambda function: float64

### Step 14. How much was the revenue for the period in the dataset?

In [16]:
chipo['revenue']=[i*j for i,j in zip(chipo['quantity'],chipo['item_price'])]
chipo['revenue'].sum()

39237.02

### Step 15. How many orders were made in the period?

In [20]:
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [29]:
# Solution 1

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [21]:
# Solution 2

chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

In [19]:
chipo['item_name'].unique().tolist()

['Chips and Fresh Tomato Salsa',
 'Izze',
 'Nantucket Nectar',
 'Chips and Tomatillo-Green Chili Salsa',
 'Chicken Bowl',
 'Side of Chips',
 'Steak Burrito',
 'Steak Soft Tacos',
 'Chips and Guacamole',
 'Chicken Crispy Tacos',
 'Chicken Soft Tacos',
 'Chicken Burrito',
 'Canned Soda',
 'Barbacoa Burrito',
 'Carnitas Burrito',
 'Carnitas Bowl',
 'Bottled Water',
 'Chips and Tomatillo Green Chili Salsa',
 'Barbacoa Bowl',
 'Chips',
 'Chicken Salad Bowl',
 'Steak Bowl',
 'Barbacoa Soft Tacos',
 'Veggie Burrito',
 'Veggie Bowl',
 'Steak Crispy Tacos',
 'Chips and Tomatillo Red Chili Salsa',
 'Barbacoa Crispy Tacos',
 'Veggie Salad Bowl',
 'Chips and Roasted Chili-Corn Salsa',
 'Chips and Roasted Chili Corn Salsa',
 'Carnitas Soft Tacos',
 'Chicken Salad',
 'Canned Soft Drink',
 'Steak Salad Bowl',
 '6 Pack Soft Drink',
 'Chips and Tomatillo-Red Chili Salsa',
 'Bowl',
 'Burrito',
 'Crispy Tacos',
 'Carnitas Crispy Tacos',
 'Steak Salad',
 'Chips and Mild Fresh Tomato Salsa',
 'Veggie Soft Tacos',
 'Carnitas Salad Bowl',
 'Barbacoa Salad Bowl',
 'Salad',
 'Veggie Crispy Tacos',
 'Veggie Salad',
 'Carnitas Salad']