# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = (pd.read_csv(url,sep='\t'))    

chipo['item_price']=chipo['item_price'].apply(lambda x:x.replace("$",'')).astype(float)

### Step 4. How many products cost more than $10.00?

In [3]:
print(" Products cost more than $10.00 :",sum([(i>10.00) for i in chipo['item_price']]))

 Products cost more than $10.00 : 1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [4]:
chipo.loc[:,['item_name','item_price']]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [6]:
chipo.sort_values('item_name').reset_index().drop('index',axis=1)

,order_id,quantity,item_name,choice_description,item_price
0,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
1,148,1,6 Pack Soft Drink,[Diet Coke],6.49
2,749,1,6 Pack Soft Drink,[Coke],6.49
3,754,1,6 Pack Soft Drink,[Diet Coke],6.49
4,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
4617,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
4618,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
4619,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
4620,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
4621,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [7]:
print('quantity of the most expensive item ordere:',max(zip(chipo.quantity,chipo.item_price)))

quantity of the most expensive item ordere: (15, 44.25)

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [8]:
print("Veggie Salad Bowl ordered",chipo.loc[(chipo.item_name=='Veggie Salad Bowl'),"quantity"].count(),"times")

Veggie Salad Bowl ordered 18 times

### Step 9. How many times did someone order more than one Canned Soda?

In [9]:
print(chipo.loc[(chipo.item_name=="Canned Soda")&(chipo.quantity>1),"quantity"].count(),"times")

20 times