# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [11]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [12]:
crime=pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv")

### Step 4. What is the type of the columns?

In [13]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     int64
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: int64(12)
memory usage: 5.3 KB

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [14]:
crime['Year']=pd.to_datetime(crime['Year'])

In [15]:
crime['Year'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 55 entries, 0 to 54
Series name: Year
Non-Null Count  Dtype
--------------  -----
55 non-null     datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 568.0 bytes

### Step 6. Set the Year column as the index of the dataframe

In [16]:
crime.set_index('Year',inplace=True)

### Step 7. Delete the Total column

In [17]:
del crime['Total']

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [21]:
crimes = crime.resample('10AS').sum()

crimes

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1970-01-01,13538557224,65384309,517687418,952448,3999314,22904744,37464999,133320955,327797108,56573743

### Step 9. What is the most dangerous decade to live in the US?

In [8]:
crime.idxmax(0)

Population           1970-01-01 00:00:00.000002014
Violent              1970-01-01 00:00:00.000001992
Property             1970-01-01 00:00:00.000001991
Murder               1970-01-01 00:00:00.000001991
Forcible_Rape        1970-01-01 00:00:00.000001992
Robbery              1970-01-01 00:00:00.000001991
Aggravated_assault   1970-01-01 00:00:00.000001993
Burglary             1970-01-01 00:00:00.000001980
Larceny_Theft        1970-01-01 00:00:00.000001991
Vehicle_Theft        1970-01-01 00:00:00.000001991
dtype: datetime64[ns]